<footer id="sticky-footer" class="py-4 text-white">
	<div class="container text-center">
		<small>Copyright &copy; <%= link_to "Akash Chhetri", "http://akash7.netlify.app/", class: "text-white" %></small>
	</div>
</footer>
