<div class="container">
	<div class="jumbotron text-center text-white" id="home-container">
		<h1 class="display-4">Junior Dev</h1>
		<p class="lead">
			This is a blogging platform for a young developers, use this platform to share your information about technical interviews, job opportunities and technique to upskills based on the requirement.
		</p>
		<hr class="my-4">
		<p>Using this platform you can like, dislike or comment on the content to interact with other developers</p>
		<a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
	</div>
</div>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About Path', about_path %>
