@import 'bootstrap/dist/css/bootstrap';
@import 'default/index';

.navbar{
  background-color: $light-blue !important;
}

.nav-link {
  color: $white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#home-container{
  position: relative;
  margin-top: 45px;
  height: 425px;
  overflow: hidden;
  background-image: asset-url('jumbo-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  background-color: $deep-blue;
  flex-shrink: none;
}